<iframe src="path/to/game" id='404-game' width="500" height="500" scrolling="none" frameborder="0"></iframe>
<script>
    var randomBetween = function (f, to) {
        return Math.floor(Math.random() * to) + f;
    }
    var randomGame = function () {
        var games = ["pacman", "space-invaders", "snake"];
        var randomGame = randomBetween(0, games.length);
        return games[randomGame];
    }
    var src = "scripts/404/" + randomGame();
    document.getElementById('404-game').src = src;
</script>